<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png">
    <title>Mamaearth | Official Website | Buy Natural Skin Care Products Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">

<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<link rel="stylesheet" href="/css/newNavbar.css">    
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/IndividualProductPage.css">
</head>
<body >
    <div id="nav">
        <nav>
            <div class="navbarCommonToAll">
        
            <div id = "navbar1">
            <a href = ""><p>Asia's first brand with MADE SAFE certified products</p></a>
            <a href = ""><p id = "navt">Free Shippping above 399 | COD Available | Extra 5% OFF
                on prepaid orders | Shop Now
            </p>
           </a>
            <span class="iconify" data-icon="bytesize:user"></span>
            </div>
        
        <div id = "nav2">
            <div id="nav2Logo">
            <a href="/home/mama"><img id = "logo" src = "https://media.loylty.com/movies/bannerimg_20210730184309563.jpg">
            </a>
          </div>
        
            <div id = "nav2search">
                <input id = "srch" type = "text" placeholder = "Search for products.."><button id = "btn"><span class="iconify" style="margin-bottom: -6px;padding-right: 2px; font-size: 22px; color: white;" data-icon="ant-design:search-outlined"></span>Search</button>
            </div>
             
            <div  id="nav2icon1">
            <a href = "/cart/mama"><span class="iconify" data-icon="bytesize:cart"></span>Cart</a> 
            </div>
            <div id="nav2icon2">
            <a href = "/signup/mama" id="changingName"><span class="iconify" data-icon="bytesize:user"></span>Login</a>
        </div>
        </div>
        <div id = "nav3">
            <p id="homet">HOME</p>
            
            <div class="dropdown"> <p>BABY</p> <div class="dropdown-content">
                <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
                
                <ul class = "inline">
                    <li class="bold">Baby</li>
                    <li>Baby Shampoo</li>
                    <li>Baby Oralcare</li>
                    <li>Baby Oil</li>
                    <li>Baby Skin</li>
                    <li>Baby Bath</li>
                    <li>Baby Diaper</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="beauty" class="dropdown"> <p>BEAUTY</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Beauty</li>
                    <li>Face</li>
                    <li>Hair</li>
                    <li>Body</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="hair" class="dropdown"> <p>HAIR</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Hair</li>
                    <a id="shampoo" href="/product/mama"><li>Shampoo</li></a>
                    <li>conditioner</li>
                    <li>Hair Oil</li>
                    <li>Hair Mask</li>
                    <li>Hair Serum</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="face" class="dropdown"> <p>FACE</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Face</li>
                    <li>Face Wash</li>
                    <li>Face Mask</li>
                    <li>Face Cream</li>
                    <li>Face Serum</li>
                    <li>Face Scrum</li>
                    <li>Face Toner</li>
                    <li>Face Gel</li>
                    <li>Face Sheet Mask</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="body" class="dropdown"> <p>BODY</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Bodyy</li>
                    <li>Body Butter</li>
                    <li>Body Wash</li>
                    <li>Body Lotion</li>
                    <li>Body Scrub</li>
                    <li>Hand Cream</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <p id="gift" class="hometxt">GIFT PACKS</p>
            <p class="hometxt">ALL PRODUCTS</p>
            <p class="hometxt">BLOG</p>
            <p class="hometxt">PLANT GOODNESS</p>
            <p class="hometxt">STORE LOCATOR</p>
        </div> 
        
        </div>
        
          </nav>
    </div>

    <div id="parentTop">
    <div id="below_nav1">
        <div id="left">
            <div id="left_up">
                <button id="decrease" onclick="decrease()"><img src="https://img.icons8.com/ios-glyphs/30/000000/chevron-left.png"/></button>
                <div id="left_up_img"></div>
                <button id="increase" onclick="increase()"><img src="https://img.icons8.com/ios-glyphs/30/000000/chevron-right.png"/></button>
            </div>
            <div id="left_down"></div>
        </div>
        <div id="middle">
           <div id="middle1">
               <div id="middle1_1">
                
               </div>
               <div id="ratingrow">
               <div id="middle1_2">
                <img src="https://mamaearth.in/static/mamaearth/star.svg"/>
               </div>
               <div id="middle1_3">
                <img src="https://mamaearth.in/static/mamaearth/verified.svg"/>
               </div>
            </div>
           </div>
           <div id="middle2">

           </div>
           <div id="middle3">
                <img src="https://mamaearthp.imgix.net/wysiwyg/goodness-icons.png"/>
           </div>
        </div>
        <div id="right"></div>
    </div>

    <div id="below_nav2">
       <div id="one"></div>
       <div id="two">
           <div id="two_1">
            <img src="https://mamaearth.in/static/mamaearth/star.svg"/>
           </div>
           <div id="two_2">
            <img src="https://mamaearth.in/static/mamaearth/verified.svg"/>
           </div>
       </div>
       <div id="addtocart" ><img src="https://mamaearth.in/static/mamaearth/shopping_cart.svg" id="cartimg"><p>Add to Cart</p></div>
    </div>
    
</div>


<div id="description_box">
    <div id="dTop">
        <p>Product Description</p>
        <p>Introducing your favorite Mamaearth <span id="desc1"></span> with a new & improved formula for even stronger, smoother, and shinier hair.
            With an improved lightweight and non-sticky formulation and oh-so-good fragrance, its time to welcome stronger and healthier hair with <span id="stop">.... </span><span id="readMore">the time-tested goodness of Mamaearth.
            And because of our no toxins and no harmful chemicals philosophy, you wont find any Silicones, Parabens, mineral oil & dyes in our Organic <span id="desc2"></span></span> <button id="readButton" onclick="readFurther()">Read More</button></p>
               
            
    </div>
    <div id="dBotto">
        <p>What To Expect From <span id="desc3"></span></p>
        <div id="dBottoRow">
            <div>
               <img src="https://d15ipfxaz33sol.cloudfront.net/wysiwyg/image010-800x559.jpg"/>
               <h2>Boosts Hair Growth</h2>
               <p><span id="desc4"></span>, in combination with Redensyl, reduces hair fall and makes hair healthy.</p>
            </div>
            <div>
                <img src="https://d15ipfxaz33sol.cloudfront.net/wysiwyg/image009.png"/>
                <h2>Adds Strength & Shine</h2>
                <p>Full of natures goodness, a blend of nourishing oils such as Sunflower Oil, Amla Oil, Hibiscus Oil, 
                    etc. our <span id="desc5"></span> makes hair strong from the inside & shinier on the outside.</p>

            </div>
            <div>
               <img src="https://d15ipfxaz33sol.cloudfront.net/wysiwyg/image006.jpg"/>
               <h2>Balances Scalp</h2>
               <p>Castor Oil is known to nourish the scalp. Rich in Vitamin D, Almond Oil provides nutrition to the scalp, making hair healthier and stronger.</p>
            </div>
        </div>
    </div>
</div>


    <div id="ratingbox">
        <div id="rTop">
              <h1>Ratings & Reviews</h1>
              <div id="rTop1_1">
                <img src="https://mamaearth.in/static/mamaearth/verified.svg"/>
                <p>Only Verified Users</p>
              </div>
        </div>
        <div id="rMiddle">
            <div>
          <div id="rightrMiddleUp">
              <div id="ratingwala"></div>
              <div id="starwala">
                  <img src="https://mamaearth.in/static/mamaearth/starinblack.svg"/>
              </div>

          </div>
          <div id="rightrMiddleDown"></div>
        </div>
          <div id="leftrMiddle">
              <div id="l1">
                  <h3>5</h3>
                  <img src="https://mamaearth.in/static/mamaearth/starinblack.svg"/>
              </div>
              <div id="l2">
                <h3>4</h3>
                <img src="https://mamaearth.in/static/mamaearth/starinblack.svg"/>
              </div>
              <div id="l3">
                <h3>3</h3>
                <img src="https://mamaearth.in/static/mamaearth/starinblack.svg"/>
              </div>
              <div id="l4">
                <h3>2</h3>
                <img src="https://mamaearth.in/static/mamaearth/starinblack.svg"/>
              </div>
              <div id="l5">
                <h3>1</h3>
                <img src="https://mamaearth.in/static/mamaearth/starinblack.svg"/>
              </div>
              
          </div>
        </div>
    </div>
    <h1>FAQ'S</h1>
<div class="mine">
<button class="accordion">Can I Use Mama Earth Shampoo Daily ?  <i class="fas fa-chevron-down fa-lg"></i> </button>
<div class="panel">
  <p>YESS definitely! Mamaearth shampoos are so good as they are free of harmful chemicals and keeps hair healthy, strong and nourished.</p>
</div>

<button class="accordion">Which is the Best Shampoo for Dandruff ? <i class="fas fa-chevron-down fa-lg"></i> </button>
<div class="panel">
  <p>Mamaearth Tea Tree Shampoo is made using natural ingredients and makes sure that dandruff and excess oil is gently worked on & removed. It helps soothe irritating, oily, and flaky scalp by controlling dandruff; thus, giving you an itch-free healthy scalp and nourished hair.
    </p>
</div>

<button class="accordion">Which is the Best Shampoo for Hair Regrowth ? <i class="fas fa-chevron-down fa-lg"></i> </button>
<div class="panel">
  <p>
    Onion Oil, rich in Sulphur, Potassium & antioxidants, reduces hair fall & accelerates hair regrowth. One of the newest breakthrough ingredients in hair regrowth, Redensyl, unblocks hair follicles & also boosts new hair growth.
    </p>
</div>
<button class="accordion">Which Shampoo is Best For Oily Hair ? <i class="fas fa-chevron-down fa-lg"></i> </button>
<div class="panel">
  <p>Healthline's picks for the best shampoo for oily hair
    Neutrogena Anti-Residue Shampoo. ...
    Aveeno Apple Cider Vinegar Blend Shampoo. ...
    OGX Hydrating + Tea Tree Mint Conditioner. ...
    Aveda Rosemary Mint Weightless Conditioner. ...
    Klorane Dry Shampoo with Nettle. ...
    Desert Essence Lemon Tea Tree Shampoo.
    </p>
</div>

<button class="accordion">Can I use Mama Earth Shampoo after Hair Treatment ? <i class="fas fa-chevron-down fa-lg"></i> </button>
<div class="panel">
  <p>Yes of course! The best shampoo for hair in India when it comes to chemically treated hair is by Mamaearth. All Mamaearth Shampoos are crafted with natural ingredients and hence suit all hair types.
</p>
</div>
</div>
<div id="footer">
    <div class="footer">
      <div class="first">
          <div id="first1">  <i class="fas fa-shipping-fast fa-2x"></i> <p class="t1">Free Shipping</p> <br> <p class="t2">On Orders Above Rs. 399 </p></div>
          <div class="first2"> <i class="fas fa-wallet fa-2x"></i><p class="Txt">COD Available</p> <br> <p class="T2"> @ Rs. 40 Per Order </p> </div>
           <div class="first3"> Have Queries or Concerns? <br> <button id="contactHome">CONTACT US</button> </div>
      </div>
      <div class="first"> <img src="/other/second.png"> </div>
      <div class="third">
          <ul>
              <li class="capital">USEFUL LINKS</li>
              <li class="small">Privacy Policy</li>
              <li class="small">Returns</li>
              <li class="small">Terms & Conditions </li>
              <li class="small">Terms & Condition-Cashback</li>
              <li class="small">FAQS</li>
              <li class="small">We're Safe</li>
              <li class="small">Track Order</li>
              <li class="small">Contact Us</li>
              <li class="small">Sitemap</li>
              <li class="small">About Us</li>
          </ul>
  
          <ul>
              <li class="capital">CATEGORIES</li>
              <li class="small">Baby</li>
              <li class="small">Beauty</li>
              <li class="small">Hair</li>
              <li class="small">Face</li>
              <li class="small">Body</li>
              <li class="small">Gift Pack</li>
          </ul>
  
          <ul>
              <li class="capital">MY ACCOUNT</li>
              <li class="small">Account</li>
              <li class="small">Orders</li>
              <li class="small">Address</li>
          </ul>
  
          <img id="news" src="https://mamaearthp.imgix.net/wysiwyg/Best-Brand500x5002x.png?auto=format"/>
      </div>
      <div class="FOUR" id="four">SHOW US SOME <i class="fas fa-heart fa-lg"></i>  ON SOCIAL MEDIA <br> <i class="fab fa-facebook fa-lg"></i> 
           <i class="fab fa-twitter fa-lg"></i> <i class="fab fa-instagram fa-lg"></i> <i class="fab fa-youtube fa-lg"></i> 
           <i class="fab fa-pinterest fa-lg"></i>  <i class="fas fa-envelope fa-lg"></i> </div>
      <div class="five">© 2021 Honasa Consumer Pvt. Ltd. All Rights Reserved</div>
   </div>
  </div>
</body>
</html>
<script >
    
    // ======================================importing Navbar===================================//
 
    

     let lcl = JSON.parse(localStorage.getItem('userDetail'))
let loggedName = document.getElementById("changingName")   
console.log(lcl)

if(lcl != null){
  let nme = (lcl[0].userName)
  loggedName.innerHTML = ""
  loggedName.innerHTML = `<span class="iconify" data-icon="bytesize:user"></span>${nme}`
}
 </script>
 

<script >
    
    let local = JSON.parse(localStorage.getItem('mamaEarthProducts'))

let userDet = JSON.parse(localStorage.getItem('userDetail'))
var finemail = (userDet[0].email)
let finaldata = []

let local2 = JSON.parse(localStorage.getItem('inProPage')) 
let  numbering = 0
for(var i = 0 ; i<local.length ; i++){
     if(local[i].title == local2 && numbering<1){
      finaldata.push(local[i])
      numbering++
     }
}
console.log(finaldata)
// console.log(local)
let cartbtn = document.getElementById('addtocart').addEventListener('click',addingtocart)

let left_up = document.getElementById('left_up')
let left_up_img = document.getElementById('left_up_img')
let left_down = document.getElementById('left_down')

let middle = document.getElementById('middle')
let middle1_1 = document.getElementById('middle1_1')
let middle1_2 = document.getElementById('middle1_2')
let middle1_3 = document.getElementById('middle1_3')
let middle2 = document.getElementById('middle2')
let middle3 = document.getElementById('middle3')
let right = document.getElementById('right')

let rightrMiddleUp = document.getElementById('rightrMiddleUp')
let rightrMiddleDown = document.getElementById('rightrMiddleDown')
let leftrMiddle = document.getElementById('leftrMiddle')
let ratingwala = document.getElementById('ratingwala')

let l1 = document.getElementById('l1')
let l2 = document.getElementById('l2')
let l3 = document.getElementById('l3')
let l4 = document.getElementById('l4')
let l5 = document.getElementById('l5')

let dTop = document.getElementById('dTop')
let dBottom = document.getElementById('dBottom')

let desc1 = document.getElementById('desc1')
let desc2 = document.getElementById('desc2')
let desc3 = document.getElementById('desc3')
let desc4 = document.getElementById('desc4')
let desc5 = document.getElementById('desc5')

let one = document.getElementById('one')
let two = document.getElementById('two')
let two_1 = document.getElementById('two_1')
let two_2 = document.getElementById('two_2')



finaldata.forEach((element)=>{
    let d1 = document.createElement('div')
  
    let img1 = document.createElement('img')
    img1.src = element.imgUrl[0]

    d1.append(img1)
    left_up_img.append(d1)

    let d2 = document.createElement('div')

    let img2 = document.createElement('img')
    img2.src = element.imgUrl[1]

    let img3 = document.createElement('img')
    img3.src = element.imgUrl[2]

    let img4 = document.createElement('img')
    img4.src = element.imgUrl[3]

    let img5 = document.createElement('img')
    img5.src = element.imgUrl[4]

    let img6 = document.createElement('img')
    img6.src = element.imgUrl[5]

    let img7 = document.createElement('img')
    img7.src = element.imgUrl[6]

    d2.append(img2,img3,img4,img5,img6,img7)
    left_down.append(d2)
    //=====================================================

    let ti = document.createElement('p')
    ti.textContent = element.title

    middle1_1.append(ti)

    let rating = document.createElement('p')
    rating.innerHTML = element.rating

    middle1_2.append(rating)

    let rev = document.createElement('p')
    rev.innerHTML = (Math.floor(Math.random() * 200) + 90) + " Reviews"

    middle1_3.append(rev)
    //============================================================================

    let rating2 = document.createElement('p')
    rating2.innerHTML = element.rating

    two_1.append(rating2)

    let rev2 = document.createElement('p')
    rev2.innerHTML = (Math.floor(Math.random() * 200) + 90) + " Reviews"

    two_2.append(rev2)

    //=============================================================================

    let price = document.createElement('p')
    price.textContent = "Price"

    let value = document.createElement('p')
    value.textContent = "₹"+" "+element.price

    let taxes = document.createElement('p')
    taxes.textContent = "Inclusive of all Taxes"

    let left = document.createElement('p')
    left.textContent = "Hurry ! Only"+" "+(Math.floor(Math.random() * 20) + 2) +" "+"Units Left in Stock!"

    middle2.append(price,value,taxes,left)

    //==================================================================================
    let price2 = document.createElement('p')
    price2.textContent = "Price"

    let value2 = document.createElement('p')
    value2.textContent = "₹"+" "+element.price

    let taxes2 = document.createElement('p')
    taxes2.textContent = "Inclusive of all Taxes"

    let left2 = document.createElement('p')
    left2.textContent = "Hurry ! Only"+" "+(Math.floor(Math.random() * 20) + 2) +" "+"Units Left in Stock!"
     one.append(price2,value2,taxes2,left2)

    //================================================================================================

    let rati = document.createElement('p')
    rati.innerHTML = element.rating

    ratingwala.append(rati)

    let revie = document.createElement('p')
    revie.textContent = (Math.floor(Math.random() * 70) + 40) + " " +"Ratings &"+" " +(Math.floor(Math.random() * 70) + 40) +" "+'Reviews' ;

    rightrMiddleDown.append(revie)
    //=======================================

    let meter1 = document.createElement('meter')
    meter1.min = 10;
    meter1.max = 55;
    meter1.value = Math.floor(Math.random() * (55 - 35 + 1)) + 35;

    l1.append(meter1)

    let meter2 = document.createElement('meter')
    meter2.min = 5;
    meter2.max = 55;
    meter2.value = Math.floor(Math.random() * (40 - 30 + 1)) + 30;

    l2.append(meter2)

    let meter3 = document.createElement('meter')
    meter3.min = 10;
    meter3.max = 55;
    meter3.value = Math.floor(Math.random() * (25 - 15 + 1)) + 15;

    l3.append(meter3)

    let meter4 = document.createElement('meter')
    meter4.min = 10;
    meter4.max = 55;
    meter4.value = Math.floor(Math.random() * (15 - 5 + 1)) + 5;

    l4.append(meter4)

    let meter5 = document.createElement('meter')
    meter5.min = 10;
    meter5.max = 55;
    meter5.value = Math.floor(Math.random() * (5 - 0 + 1)) + 0;

    l5.append(meter5)
    //=========================================================================
    let de = element.description

    desc1.textContent = `${de}`
    desc2.textContent = `${de}`
    desc3.textContent = `${de}`
    desc4.textContent = `${de}`
    desc5.textContent = `${de}`

})
function readFurther() {
  var stop = document.getElementById("stop");
  var readMore = document.getElementById("readMore");
  var readButton = document.getElementById("readButton");

  if (stop.style.display === "none") {
    stop.style.display = "inline";
    readButton.innerHTML = "Read more";
    readMore.style.display = "none";
  } else {
    stop.style.display = "none";
    readButton.innerHTML = "Read less";
    readMore.style.display = "inline";
  }
}

let count = 0;
function increase(){
    console.log(finaldata)
    if(count == 6){
        count = 0;
    }
    count++
    left_up_img.innerHTML = null
    let d1 = document.createElement('div')
    let img1 = document.createElement('img')
    img1.src = finaldata[0].imgUrl[count]
    console.log(img1)
    d1.append(img1)
    left_up_img.append(d1)
}
function decrease(){
    if(count == 0){
        count = 6;
    }
    count--
    left_up_img.innerHTML = null
    let d1 = document.createElement('div')
    let img1 = document.createElement('img')
    img1.src = finaldata[0].imgUrl[count]
    
    d1.append(img1)
    left_up_img.append(d1)
}
let m  = JSON.parse(localStorage.getItem('CartItems')) || []

let countd1 = JSON.parse(localStorage.getItem('the_counter')) || []
var countd2 = 0

function addingtocart(){

    console.log(finaldata[0]._id)
   
    var obj = {
      userEmail:finemail ,
      
      productId:finaldata[0]._id
    }
    m.push(obj)
 localStorage.setItem("CartItems",JSON.stringify(m))//{userEmail: "1@gmail.com", productId: "ME02105"}
 countd2++
 countd1 = countd1 + countd2 
 localStorage.setItem('the_counter',JSON.stringify(countd1))
 alert("Successfully added to Cart !!")
}

</script>
