<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png">
    <title>Mamaearth | Official Website | Buy Natural Skin Care Products Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
    <link rel="stylesheet" href="styles/signup.css">
    <link rel="stylesheet" href="/css/newNavbar.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
  <div id="nav">
    <nav>
        <div class="navbarCommonToAll">
    
        <div id = "navbar1">
        <a href = ""><p>Asia's first brand with MADE SAFE certified products</p></a>
        <a href = ""><p id = "navt">Free Shippping above 399 | COD Available | Extra 5% OFF
            on prepaid orders | Shop Now
        </p>
       </a>
        <span class="iconify" data-icon="bytesize:user"></span>
        </div>
    
    <div id = "nav2">
        <div id="nav2Logo">
        <a href="/home/mama"><img id = "logo" src = "https://media.loylty.com/movies/bannerimg_20210730184309563.jpg">
        </a>
      </div>
    
        <div id = "nav2search">
            <input id = "srch" type = "text" placeholder = "Search for products.."><button id = "btn"><span class="iconify" style="margin-bottom: -6px;padding-right: 2px; font-size: 22px; color: white;" data-icon="ant-design:search-outlined"></span>Search</button>
        </div>
         
        <div  id="nav2icon1">
        <a href = "/cart/mama"><span class="iconify" data-icon="bytesize:cart"></span>Cart</a> 
        </div>
        <div id="nav2icon2">
        <a href = "/signup/mama" id="changingName"><span class="iconify" data-icon="bytesize:user"></span>Login</a>
    </div>
    </div>
    <div id = "nav3">
        <p id="homet">HOME</p>
        
        <div class="dropdown"> <p>BABY</p> <div class="dropdown-content">
            <ul class = "inline">
                <li class="bold">Explore</li>
                <li>New Launchers</li>
                <li>Best Sellers</li>
                <li>combos</li>
                <li>Gift Packs</li>
            </ul>
            
            <ul class = "inline">
                <li class="bold">Baby</li>
                <li>Baby Shampoo</li>
                <li>Baby Oralcare</li>
                <li>Baby Oil</li>
                <li>Baby Skin</li>
                <li>Baby Bath</li>
                <li>Baby Diaper</li>
            </ul>
    
            <ul class = "inline">
                <li class="blue">See All</li>
            </ul>
        </div> </div>
    
        <div  id="beauty" class="dropdown"> <p>BEAUTY</p> <div class="dropdown-content">
        <ul class = "inline">
                <li class="bold">Explore</li>
                <li>New Launchers</li>
                <li>Best Sellers</li>
                <li>combos</li>
                <li>Gift Packs</li>
            </ul>
    
            <ul class = "inline">
                <li class="bold">Beauty</li>
                <li>Face</li>
                <li>Hair</li>
                <li>Body</li>
            </ul>
    
            <ul class = "inline">
                <li class="blue">See All</li>
            </ul>
        </div> </div>
    
        <div  id="hair" class="dropdown"> <p>HAIR</p> <div class="dropdown-content">
        <ul class = "inline">
                <li class="bold">Explore</li>
                <li>New Launchers</li>
                <li>Best Sellers</li>
                <li>combos</li>
                <li>Gift Packs</li>
            </ul>
    
            <ul class = "inline">
                <li class="bold">Hair</li>
                <a id="shampoo" href="/product/mama"><li>Shampoo</li></a>
                <li>conditioner</li>
                <li>Hair Oil</li>
                <li>Hair Mask</li>
                <li>Hair Serum</li>
            </ul>
    
            <ul class = "inline">
                <li class="blue">See All</li>
            </ul>
        </div> </div>
    
        <div  id="face" class="dropdown"> <p>FACE</p> <div class="dropdown-content">
        <ul class = "inline">
                <li class="bold">Explore</li>
                <li>New Launchers</li>
                <li>Best Sellers</li>
                <li>combos</li>
                <li>Gift Packs</li>
            </ul>
    
            <ul class = "inline">
                <li class="bold">Face</li>
                <li>Face Wash</li>
                <li>Face Mask</li>
                <li>Face Cream</li>
                <li>Face Serum</li>
                <li>Face Scrum</li>
                <li>Face Toner</li>
                <li>Face Gel</li>
                <li>Face Sheet Mask</li>
            </ul>
    
            <ul class = "inline">
                <li class="blue">See All</li>
            </ul>
        </div> </div>
    
        <div  id="body" class="dropdown"> <p>BODY</p> <div class="dropdown-content">
        <ul class = "inline">
                <li class="bold">Explore</li>
                <li>New Launchers</li>
                <li>Best Sellers</li>
                <li>combos</li>
                <li>Gift Packs</li>
            </ul>
    
            <ul class = "inline">
                <li class="bold">Bodyy</li>
                <li>Body Butter</li>
                <li>Body Wash</li>
                <li>Body Lotion</li>
                <li>Body Scrub</li>
                <li>Hand Cream</li>
            </ul>
    
            <ul class = "inline">
                <li class="blue">See All</li>
            </ul>
        </div> </div>
    
        <p id="gift" class="hometxt">GIFT PACKS</p>
        <p class="hometxt">ALL PRODUCTS</p>
        <p class="hometxt">BLOG</p>
        <p class="hometxt">PLANT GOODNESS</p>
        <p class="hometxt">STORE LOCATOR</p>
    </div> 
    
    </div>
    
      </nav>
</div>

    <div id="signupCont">
        <a href="login.html"><div id="signupCont-icn"><span class="iconify" data-icon="ant-design:arrow-left-outlined"></span></div></a>
        <div id="signupContent">

            <h3>Signup for the Goodness Inside</h3>
            <fieldset id="f1">
                 <input id="signupContent-inp-a" class="signupContent-inp" type="text" placeholder="Phone Number"> 
                <legend>Phone Number</legend>  
              </fieldset>
              <p id="alertP"></p>

              <fieldset id="f2">
                <input id="signupContent-inp-c" class="signupContent-inp" type="text" placeholder="Email">
               <legend>Email</legend>
               </fieldset>
               <p id="alertE"></p>

               <fieldset>
                <input id="username" class="signupContent-inp" type="text" placeholder="username">
               <legend>Username</legend>
               </fieldset>

               <fieldset>
                <input id="signupContent-inp-d" class="signupContent-inp" type="password" placeholder="password">
               <legend>Password</legend>
               </fieldset>

            <div id="signup-btn">
              <button onclick="signUp()">SignUp</button>
            </div>


        </div>

    </div>
    
    
</body>
</html>

<script >
  
var userArr = JSON.parse(localStorage.getItem('userData')) || [];

let f1 = document.getElementById('f1')
let f2 = document.getElementById('f2')
let alertP = document.getElementById('alertP')
let alertE = document.getElementById('alertE')



function signUp(){
    var phone = document.getElementById('signupContent-inp-a').value
    var username = document.getElementById('username').value
    var Email = document.getElementById('signupContent-inp-c').value;
    var pass = document.getElementById('signupContent-inp-d').value;

    var count = 0;
    for(var i = 0 ; i<Email.length;i++){
        if(Email[i] == '@'){
            count = 1
        }
    }

    if(count == 0){
        f2.style.borderColor = "red";
    alertE.textContent = "* INVALID EMAIL"
    alertE.style.color = "red";
    }else{
   
if(phone.length<10){
    
    f1.style.borderColor = 'red';
        alertP.textContent = "* INVALID PHONE NO"
        alertP.style.color = "red"
    
}else{

var userCredentials = {
    email:Email,
    passWord:pass,
    phoneNo:phone,
    userName:username,
    
};

userArr.push(userCredentials);
localStorage.setItem('userDetail',JSON.stringify(userArr));

alert('Signup Succesful')
document.location.href = '/login/mama'
}

}
}

</script>