<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png">
    <title>Mamaearth | Official Website | Buy Natural Skin Care Products Online</title>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link rel="stylesheet" href="styles/payment.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/newNavbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/newNavbar.css">    
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/payment.css"> 
  
</head>
<body>
    <div id="nav">
        <nav>
            <div class="navbarCommonToAll">
        
            <div id = "navbar1">
            <a href = ""><p>Asia's first brand with MADE SAFE certified products</p></a>
            <a href = ""><p id = "navt">Free Shippping above 399 | COD Available | Extra 5% OFF
                on prepaid orders | Shop Now
            </p>
           </a>
            <span class="iconify" data-icon="bytesize:user"></span>
            </div>
        
        <div id = "nav2">
            <div id="nav2Logo">
            <a href="/home/mama"><img id = "logo" src = "https://media.loylty.com/movies/bannerimg_20210730184309563.jpg">
            </a>
          </div>
        
            <div id = "nav2search">
                <input id = "srch" type = "text" placeholder = "Search for products.."><button id = "btn"><span class="iconify" style="margin-bottom: -6px;padding-right: 2px; font-size: 22px; color: white;" data-icon="ant-design:search-outlined"></span>Search</button>
            </div>
             
            <div  id="nav2icon1">
            <a href = "/cart/mama"><span class="iconify" data-icon="bytesize:cart"></span>Cart</a> 
            </div>
            <div id="nav2icon2">
            <a href = "/signup/mama" id="changingName"><span class="iconify" data-icon="bytesize:user"></span>Login</a>
        </div>
        </div>
        <div id = "nav3">
            <p id="homet">HOME</p>
            
            <div class="dropdown"> <p>BABY</p> <div class="dropdown-content">
                <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
                
                <ul class = "inline">
                    <li class="bold">Baby</li>
                    <li>Baby Shampoo</li>
                    <li>Baby Oralcare</li>
                    <li>Baby Oil</li>
                    <li>Baby Skin</li>
                    <li>Baby Bath</li>
                    <li>Baby Diaper</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="beauty" class="dropdown"> <p>BEAUTY</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Beauty</li>
                    <li>Face</li>
                    <li>Hair</li>
                    <li>Body</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="hair" class="dropdown"> <p>HAIR</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Hair</li>
                    <a id="shampoo" href="/product/mama"><li>Shampoo</li></a>
                    <li>conditioner</li>
                    <li>Hair Oil</li>
                    <li>Hair Mask</li>
                    <li>Hair Serum</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="face" class="dropdown"> <p>FACE</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Face</li>
                    <li>Face Wash</li>
                    <li>Face Mask</li>
                    <li>Face Cream</li>
                    <li>Face Serum</li>
                    <li>Face Scrum</li>
                    <li>Face Toner</li>
                    <li>Face Gel</li>
                    <li>Face Sheet Mask</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <div  id="body" class="dropdown"> <p>BODY</p> <div class="dropdown-content">
            <ul class = "inline">
                    <li class="bold">Explore</li>
                    <li>New Launchers</li>
                    <li>Best Sellers</li>
                    <li>combos</li>
                    <li>Gift Packs</li>
                </ul>
        
                <ul class = "inline">
                    <li class="bold">Bodyy</li>
                    <li>Body Butter</li>
                    <li>Body Wash</li>
                    <li>Body Lotion</li>
                    <li>Body Scrub</li>
                    <li>Hand Cream</li>
                </ul>
        
                <ul class = "inline">
                    <li class="blue">See All</li>
                </ul>
            </div> </div>
        
            <p id="gift" class="hometxt">GIFT PACKS</p>
            <p class="hometxt">ALL PRODUCTS</p>
            <p class="hometxt">BLOG</p>
            <p class="hometxt">PLANT GOODNESS</p>
            <p class="hometxt">STORE LOCATOR</p>
        </div> 
        
        </div>
        
          </nav>
    </div>

    <div id="container">
    <div id="payment-A">
        <div id="payment-A-a">
            <div id="payment-A-a-1">
             <h3>Login to see your existing offers </h3>              
            </div>
            <div id="payment-A-a-2">
               <a href="/signup/mama"> <button id="payment-A-a-2-btn">Login/SignUp</button></a>
               </div>

            <div id="userAddress">
                <form action="">

                <h4>Delivery Address</h4>
                <div class="userAddress-2-input" id="userAddress-a">
                    <input id="userAddress-FN" type="text" placeholder="First Name*"> 
                    <input id="userAddress-LN" type="text" placeholder="Last Name*">
                </div>
                <div class="userAddress-2-input" id="userAddress-b">
                    <input id="userAddress-EI" type="text" placeholder="Email ID*"> 
                    <input id="userAddress-PN" type="text" placeholder="Phone Number*">                    
                </div>
                <div class="userAddress-3-input" id="userAddress-c">
                    <input id="userAddress-PC" type="text" placeholder="PIN Code"> 
                    <input id="userAddress-Ci" type="text" placeholder="City*"> 
                    <input id="userAddress-St" type="text" placeholder="State*">
                </div>
                <div class="userAddress-1-input" id="userAddress-d">
                    <input id="userAddress-Ad" type="text" placeholder="Address(House NO, Building,Street,Area)*">
                </div>


                </form>
            </div>

            <div id="payment-method">
                <h3>Choose Payment Method</h3>
                <div id="payment-method-box">
                    <div id="payment-method-box-a">
                        <div><h3><i class="fas fa-credit-card" ></i>    Debit / Credit card</h3></div>
                        <div><p><img src="/public/other/upi-img.svg">    UPI</p></div>
                        <div><p><img src="/public/other/wallets.svg">Wallets</p></div>
                        <div><p><img src="/public/other/netbanking.svg">Netbanking</p></div>
                        <div><p><img src="/public/other/cash-on.svg">Cash on Delivery</p></div>
                        <div id="payment-method-box-a-bottom">
                        <span><p>Powered by<img src="/public/other/download.svg" alt=""></p></span>
                        </div>
                    </div>
                    <div id="payment-method-box-b">

                        <h3>Enter Credit / Debit card details</h3>

                        <div>
                            <p>Card Number</p>
                            <input id="cardNo"  type="text" placeholder="xxxx xxxx xxxx xxxx" >
                        </div>
                        <div id="card-C-M">
                            <div>
                                <span><p>Expiry</p></span>                                
                                <input id="date" type="text" placeholder="MM / YY">
                            </div>
                            <div id="cvvHolder">
                                <span><p>CVV</p></span>
                                <input id="cvv" type="text" placeholder="CVV">
                            </div>

                            
                            <button id="paymentBTN" onclick="makePayment()"> PROCEED TO PAY </button>                            

                        </div>
                    </div>
                </div>

            </div>            
            

        </div>
    </div>
    <!-- <div id ="payment-B">
        <div class="right-section">
            <label style="font-weight: bold;font-size: 20px;line-height: 2;color: #6ea30e;">Price Summary</label>
            <div class="order-summary">
                <div id="amountDiv">Amount </div>
                <div class="amt" id="total-price"></div>
                <div>Order Discounts</div>
                <div style="padding-top: 0px;" class="amt">-&#8377;0.00</div>
                 <div class="total">Total </div>
                <div class="total-amt"><label  id="total-price"></label>
                </div>
                <div id="incl">(Inclusive of all taxes)</div>
            </div>
            <button id="checkout" onclick="redirectToPayment()">
                Checkout
            </button>
        </div>
    </div> -->
      

</div>

<div id="footer">
    <div class="footer">
      <div class="first">
          <div id="first1">  <i class="fas fa-shipping-fast fa-2x"></i> <p class="t1">Free Shipping</p> <br> <p class="t2">On Orders Above Rs. 399 </p></div>
          <div class="first2"> <i class="fas fa-wallet fa-2x"></i><p class="Txt">COD Available</p> <br> <p class="T2"> @ Rs. 40 Per Order </p> </div>
           <div class="first3"> Have Queries or Concerns? <br> <button id="contactHome">CONTACT US</button> </div>
      </div>
      <div class="first"> <img src="/other/second.png"> </div>
      <div class="third">
          <ul>
              <li class="capital">USEFUL LINKS</li>
              <li class="small">Privacy Policy</li>
              <li class="small">Returns</li>
              <li class="small">Terms & Conditions </li>
              <li class="small">Terms & Condition-Cashback</li>
              <li class="small">FAQS</li>
              <li class="small">We're Safe</li>
              <li class="small">Track Order</li>
              <li class="small">Contact Us</li>
              <li class="small">Sitemap</li>
              <li class="small">About Us</li>
          </ul>
  
          <ul>
              <li class="capital">CATEGORIES</li>
              <li class="small">Baby</li>
              <li class="small">Beauty</li>
              <li class="small">Hair</li>
              <li class="small">Face</li>
              <li class="small">Body</li>
              <li class="small">Gift Pack</li>
          </ul>
  
          <ul>
              <li class="capital">MY ACCOUNT</li>
              <li class="small">Account</li>
              <li class="small">Orders</li>
              <li class="small">Address</li>
          </ul>
  
          <img id="news" src="https://mamaearthp.imgix.net/wysiwyg/Best-Brand500x5002x.png?auto=format"/>
      </div>
      <div class="FOUR" id="four">SHOW US SOME <i class="fas fa-heart fa-lg"></i>  ON SOCIAL MEDIA <br> <i class="fab fa-facebook fa-lg"></i> 
           <i class="fab fa-twitter fa-lg"></i> <i class="fab fa-instagram fa-lg"></i> <i class="fab fa-youtube fa-lg"></i> 
           <i class="fab fa-pinterest fa-lg"></i>  <i class="fas fa-envelope fa-lg"></i> </div>
      <div class="five">© 2021 Honasa Consumer Pvt. Ltd. All Rights Reserved</div>
   </div>
  </div>
   

    
</body>
</html>
<!-- 
<script>


   

    // function cartHover(e){
    // console.log(e);
    // // alert("Clicked");

    // document.location.href = "cart.html";

// }

</script> -->


<script >


     

    let lcl = JSON.parse(localStorage.getItem('userDetail'))
let loggedName = document.getElementById("changingName")   
console.log(lcl)

if(lcl != null){
  let nme = (lcl[0].userName)
  loggedName.innerHTML = ""
  loggedName.innerHTML = `<span class="iconify" data-icon="bytesize:user"></span>${nme}`
}


  
</script>
<script >
function makePayment(){
    var FN = document.getElementById("userAddress-FN").value.length
    var LN = document.getElementById("userAddress-LN").value.length
    var EI = document.getElementById("userAddress-EI").value.length
    var PN = document.getElementById("userAddress-PN").value.length
    var PC = document.getElementById("userAddress-PC").value.length
    var Ci = document.getElementById("userAddress-Ci").value.length
    var St = document.getElementById("userAddress-St").value.length
    var Ad = document.getElementById("userAddress-Ad").value.length
    var CN = document.getElementById("cardNo").value.length
    var Da = document.getElementById("date").value.length
    var CV = document.getElementById("cvv").value.length

    if(FN ==0 || LN ==0 ||EI ==0 ||PN >10 || PN < 10||PC ==0 ||Ci ==0 ||St ==0 ||Ad ==0 ||CN >16 || CN < 16||Da >4 || Da < 4||CV >3 || CV < 3 ){
         
        if(PN >10 || PN < 10){ 
                                    
            return alert("ENTER VALID NUMBER");
        }
        if(CN >16 || CN < 16){
            return alert("ENTER VALID CARD NUMBER");
        }
        
        if(Da >4 || Da < 4){
            return alert("ENTER VALID EXPIRY DATE");
        }
        if(CV >3 || CV < 3){
            return alert("ENTER VALID CVV");
        }

        return alert("ENTER VALID DETAILS!!!")

    } 
    else{
        document.location.href = "/fin/mama";
        return alert("PAYMENT SUCCESSFUL, YOUR ORDER IS ON THE WAY  !!!")
       
    }
}
</script>
<script >
    var mamaEarthData = JSON.parse(localStorage.getItem("mamaEarthProducts"));

var data = JSON.parse(localStorage.getItem("CartItems")) || [];

var loggedUser = JSON.parse(localStorage.getItem("userDetail"));
var userID = [];

if (loggedUser != null) {
    var userID = loggedUser;
}
var usercart = []
data.forEach(element => {
    if(element.userEmail == userID[0].email)
    usercart.push(element)
});
console.log(usercart);

let counter = 0;

var container  = document.querySelector(".left-section");
if(usercart.length == 0 || usercart == undefined || usercart == null)
{
    container.innerHTML = `<h1>No Products in your cart</h1>`;
}

else{    
var totalAmount = 0;
usercart.forEach(item => {
    var tempData = []
    mamaEarthData.forEach(el => {
        if(el.id == item.productId)
            tempData.push(el);
    })
    // console.log(tempData)
    totalAmount += tempData[0].price;
    container.innerHTML += 
    `
    <div class = "card">
    <div><img src = ${tempData[0].imgUrl[0]}></div>   
    <div id="titleNprice">
    <h3>${tempData[0].title}</h3>
    <p><span class="iconify" data-icon="icons8:rupee"></span>${tempData[0].price}</p>
    </div>  
            
    `
    counter++
})

var tax = (totalAmount/100 *2) +" "+ "(2% Gst charges)"

var final = totalAmount+(totalAmount/100 *2)
var totalPrice = document.querySelectorAll("#total-price");
var finalPrice = document.querySelectorAll("#final-price");
totalPrice[0].innerHTML = '<span class="iconify" id="priceSummaryIcon" data-icon="icons8:rupee"></span>'+ totalAmount ;
finalPrice[0].innerHTML = '<span class="iconify" id="priceSummaryIcon"data-icon="icons8:rupee"></span>'+ final;
}
//======================================================================================================================

let GST = document.getElementById('GstCharges')

GST.textContent ="+"+ tax

console.log(final)

// localStorage.setItem('the_counter',JSON.stringify(counter))

// document.getElementById('coup').addEventListener('click',discount)

function discount(){
    var dis = document.getElementById('coupon').value
    var ded = final - 300;
    var ded2 = final - 500;
    if(dis == "MASAI300" || dis == "CHRISTMAS300" ){
       
        finalPrice[0].innerHTML = '<span class="iconify" id="priceSummaryIcon"data-icon="icons8:rupee"></span>'+ ded;
        alert('Coupon applied ₹300 deducted')
    }else if(dis == "SALE500" || dis == "MAMAEARTH500"){
        
        finalPrice[0].innerHTML = '<span class="iconify" id="priceSummaryIcon"data-icon="icons8:rupee"></span>'+ ded2;
        alert('Coupon applied ₹500 deducted')
    }
}

//==========================================================================================================================
function erase(){
    localStorage.removeItem("CartItems");
    alert('ALL ITEMS REMOVE FROM CART !!')
    document.location.reload();
}
//====================================================================================================
function redirectToPayment() {
    document.location.href = "/payment/mama";
}
function redirectToProductPage() {
    document.location.href = "/product/mama";
}

</script>