.bestsl {
  /* border: 1px solid red; */
  height: 450px;
  width: 35%;
  margin-top: 50px;
  display: inline-block;
  vertical-align: top;
}
.bestsr {
  /* border: 1px solid red; */
  width: 62%;
  margin-top: 50px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.bs {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bst {
  width: 280px;
  margin-left: 35%;
  font-size: 19px;
  margin-top: 27px;
}
.bstb {
  margin-left: 41%;
  font-size: 20px;
  margin-top: 27px;
  background-color: #00afef;
  color: white;
  height: 46px;
  width: 130px;
  border: none;
  border-radius: 5px;
}
.main {
  display: flex;
}
.bestsr {
  /* border: 1px solid blue; */
  position: relative;
}

.grid-dr {
  width: 100%;
}

.grid-item-dr {
  height: 450px;
}
.forimg {
  border: 1px solid greenyellow;
  width: 100%;
  height: 250px;
}
.forimg1 {
  width: 100%;
  height: 250px;
}
.redbox {
  border: 1px solid red;
  height: 20px;
  width: 90px;
  border-radius: 5px;
  background-color: #ef5350;
}
.redboxt {
  color: white;
  font-size: 11px;
  font-weight: bold;
}
